* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%; 
  height: 100vh;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background: #E5E5E5;
}

.container { 
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #E5E5E5;
  height: 680px;
  width: 380px;
}

h1 {
  color: #303030;
  margin-bottom: 300px;
  font-size: 104px;
  font-weight: 900;
  opacity: 0.1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.timer-value {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  color: #E08B01;
  width: 242px;
  height: 242px;
  background: linear-gradient(180deg, #E1E1E1 0%, #FFFFFF 100%);
  box-shadow: -3.94749e-14px 40.2667px 80.5333px rgba(51, 51, 51, 0.1665), inset 1.04389e-14px -10.6483px 10.6483px #D9D9D9, inset -1.04389e-14px 10.6483px 10.6483px #FFFFFF;
  border-radius: 120px;
}

button{
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

.restart-timer{
  width: 74px;
  height: 74px;
  background: linear-gradient(180deg, #CE8701 0%, #FFB401 100%);
  box-shadow: 8.73581e-16px 14.2667px 28.5333px rgba(49, 32, 0, 0.24), inset -2.71781e-16px -4.43852px 4.43852px #C48101, inset 2.71781e-16px 4.43852px 4.43852px #FFBB01;
  border-radius: 36px;
  position: relative;
  left: 86px;
  top: -36px;
}

.bottom-btn {
  margin-top:122px;
  padding: 12px 140px;
  background: linear-gradient(180deg, #FFAB00 0%, #D68100 100%);
  box-shadow: 1.51448e-15px 24.7333px 49.4667px rgba(51, 31, 0, 0.24), inset -4.71172e-16px -7.69481px 7.69481px #CC7A00, inset 4.71172e-16px 7.69481px 7.69481px #FFB100;
  border-radius: 80px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.play-btn.bottom-btn.disabled{
  display: none;
}

.pause-btn.bottom-btn.disabled{
  display: none;
}



